{% extends template %}

{% block list_pwd %}
<div class = "container">
    <div class = "row">
        <div class="col md-12">
            <div class = "col md-12">
               <h2><b>Password List</b></h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>AppID</th>
                        <th>Owner</th>
                        <th>App Name</th>
                        <th>Password</th>
                        <th>Created on</th>
                    </tr>
                 {% for row in pdata %}
                   <!--DH3-->
                    <tr>
                        <td><input type="text" readonly value="{{row[0]}}"></td>
                        {% for r in udata %}
                        {% if row[1] == r[10] %}
                        <td><input type="text" readonly value="{{r[0]}}"></td>
                        {% endif %}
                        {% endfor %}
                        <td><input type="text" readonly value="{{row[2]}}"></td>
                        <td><input type="text" readonly value="{{row[3]}}"></td>
                        <td><input type="text" readonly value="{{row[4]}}"></td>
                          {% if row[6] == 'v' and row[1] != row[5] %}
                             <td>
                             </td>
                             <td>
                             </td>
                             <td>
                             </td>
                        {% elif row[6] == 'e' and row[1] != row[5] %}
                             <td>
                                <div align="left">
                                   <a href = "{{ url_for('addpwd') }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row[0]}}">Edit</a>
                                </div>
                             </td>
                             <td>
                                <div align="left">
                                   <a href = "{{ url_for('share') }}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalshare{{row[0]}}">Share</a>
                                </div>
                             </td>
                             <td>
                             </td>
                        {% elif row[6] == None and (row[5] == row[1] or row[5] == None) %}
                             <td>
                                <div align="left">
                                   <a href = "{{ url_for('addpwd') }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row[0]}}">Edit</a>
                                </div>
                             </td>
                             <td>
                                <div align="left">
                                   <a href = "{{ url_for('share') }}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalshare{{row[0]}}">Share</a>
                                </div>
                             </td>
                              <td>
                                 <div align="left">
                                   <a href = "{{ url_for('delpwd') }}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete{{row[0]}}">Delete</a>
                                 </div>
                              </td>
                        {% endif %}
                    </tr>

                <!-- Edit Modal -->
  <div id="modaledit{{row[0]}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Update Information</h4>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">×</span>
             </button>
         </div>
         <div class="modal-body">
            <form action="{{ url_for('addpwd') }}" method="POST" accept-charset="utf-8">
               <div class="form-group">
               {% macro render_input(field, showErrors="true") %}
                 <tr>
                     <td>{% if showErrors=="true" and field.errors %}
                      <ul class="errors">
                      {% for error in field.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                      </ul>
                      {% endif %}
                    </td>
                 </tr>
               {% endmacro %}
                  <label>App Name:</label>
                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                   <input type="hidden"  name="id" value="{{row[0]}}" readonly>
                   <input type="hidden"  name="owner" value="{{row[1]}}" readonly>
                  <input type="text" class="form-control" name="appname" value="{{row[2]}}" readonly>
               </div>
               <div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      {{form.letters.label}}{{form.letters(type="checkbox", class="form-control form-control-user", id="InputLetters")}}
                  </div>
                  <div class="col-sm-6">
                     {{form.digits.label}}{{form.digits(type="checkbox", class="form-control form-control-user", id="InputDigits")}}
                  </div>
                 <div class="col-sm-6">
                    {{form.special.label}}{{form.special(type="checkbox", class="form-control form-control-user", id="InputSpecial")}}
                 </div>
               </div>
                <div class="col-sm-6">
                    {{form.length.label}}: <output id="value"></output>
                    {{form.length(type="range", class="form-control form-control-user", min='6', max='25', step="1", id="InputLength")}}
                </div>
               <div class="form-group">
                  <button type="submit" name="submit_param" value="submit_value" class="btn btn-primary btn-user">
                    Update
                  </button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Delete Modal-->
    <div id="modaldelete{{row[0]}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Delete Dialog Box</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('delpwd') }}" method="POST" novalidate accept-charset="utf-8">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden"  name="id" value="{{row[0]}}" readonly>
                        <input type="hidden"  name="name" value="{{row[2]}}" readonly>
                        Are you sure you want to delete?
                        <div class="form-group" align="right">
                          <hr>
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button type="submit" name="submit_param" value="submit_value" class="btn btn-primary btn-user">Delete
                         </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--Share Modal-->
    <div id="modalshare{{row[0]}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ShareModal">Share Permissions</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('share') }}" method="POST" novalidate accept-charset="utf-8">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden"  name="id" value="{{row[0]}}" readonly>
                        <input type="hidden"  name="owner" value="{{row[1]}}" readonly>
                        <input type="hidden" name="appname" value="{{row[2]}}" readonly>
                        <div class="form-group row">
                            <div class="col-sm-6">
                               {{form1.uid.label}} {{form1.uid()}}
                            </div>
                            {% if row[1] != uid %}
                            <div class="col-sm-6">
                               {{form1.perms1.label}} {{form1.perms1()}}
                            </div>
                            {% elif row[1] == uid %}
                            <div class="col-sm-6">
                               {{form1.perms2.label}} {{form1.perms2()}}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <h6><b>User</b></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6><b>Permission</b></h6>
                            </div>
                        </div>
                        {% for rows in share_data %}
                           {% for r in udata %}
                            {% if row[0] == rows[0] %}
                             {% if rows[2] == r[10] %}
                                 <input type="text" readonly value="{{r[0]}}">
                               {% if rows[1] == 'v' %}
                                  <input type="text" readonly value="Viewer">
                               {% elif rows[1] == 'e' %}
                                  <input type="text" readonly value="Editor">
                              {% endif %}
                             {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                        <div class="form-group" align="right">
                          <hr>
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <button type="submit" name="update_perms" value="submit_value" class="btn btn-primary btn-user">
                              Share
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
                </table>
            </div>
            </div>
        </div>
    </div>

{% endblock %}